<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager Page</title>
  <link rel="stylesheet" href="manager_styles.css">
</head>
<body>
  <div class="main">
      <div class="block-h">
        <div class="search-block">~
          <text>Поиск</text> 
          <input>
        </div>
        <div class="cart">
          <button id="cart"></button>
        </div>
        <div class="user">
          <button id="user"></button>
        </div>
        <div><button></button></div>
      </div>
    <div class="block-v">
    <div id="category-block" class="category-block">
      <div class="name"></div>
      <div id="category-display" class="category-display"></div>
    </div>
    <div id="object-block" class="object-block">Товары
      <div  class="object-display"></div>
    </div> 
    </div>
  </div>
  <div id="context-menu" class="context-menu">
    <button id="create">Создать </button>
    <button id="delete">Удалить </button>
    <button id="change">Изменить </button>
    <button id="relocate">Переместить </button>
  </div>
  
  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Добавить товар</h2>
        
        <div class="input-group">
            <label for="field1">Название товара</label>
            <input type="text" id="field1" name="field1" class="field-input">
        </div>
        
        <div class="input-group">
            <label for="field2">Описание товара</label>
            <input type="text" id="field2" name="field2" class="field-input">
        </div>
        
        <div class="input-group">
            <label for="field3">Цена</label>
            <input type="text" id="field3" name="field3" class="field-input">
        </div>
        
        <div id="dynamicFields"></div>
        
        <div class="buttons-container">
            <button id="addFieldBtn">Добавить поле </button>
            <button id="submitBtn">Отправить </button>
            <!---->>
            <input type="file" id="imageUpload" accept="image/*" style="display: none;">
            <button id="sendPicBtn">Загрузить </button>
            <button id="cancelBtn" style="display: none;">Отмена </button>
            <div id="status"></div>

            </div>
        </div>
    </div>
</div>

  <script type="module" src="manager_scripts.js"></script>
</body>
</html>
