<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager Page</title>
  <link rel="stylesheet" href="manager_styles.css">
</head>
<body>
  <div class="main">
      <div class="block-h">
        <div class="search-block">
          <text>Поиск</text> 
          <input>
        </div>
        <div class="cart">
          <button id="cart"></button>
        </div>
        <div class="user">
          <button id="user"></button>
        </div>
        <div><button></button></div>
      </div>
    <div class="block-v">
    <div id="category-block" class="category-block">Категории
      <div id="category-display" class="category-display"></div>
    </div>
    <div id="object-block" class="object-block">Товары
      <div  class="object-display"></div>
    </div> 
    </div>
  </div>
  <div id="context-menu" class="context-menu">
    <button id="create">Создать </button>
    <button id="delete">Удалить </button>
    <button id="change">Изменить </button>
    <button id="relocate">Переместить </button>
  </div>
  <script type="module" src="manager_scripts.js"></script>
</body>
</html>
